.cmp-title {}
.cmp-title__text {
    color : yellow;
}
.cmp-title__link {}

.cmp-title--center {
    text-align : center;
}

.cmp-title--left {
    text-align : left;
}

.cmp-title--right {
    text-align : right;
}