<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-use.model="com.adobe.aem.guides.core.models.SlingModelExampleModel"
     data-sly-test.hasContent="${model.mainLabel}">
    <p>Main label : ${hasContent}</p>
    <p data-sly-test="${model.resourceType}">Resource Type : ${model.resourceType}</p>

    <h2>data-sly-list example</h2>
    <ul data-sly-list.linkList="${model.links}">
        <li>
            <p data-sly-test.label="${linkList.label}">Label : ${label}</p>
            <p data-sly-test.linkPath="${linkList.linkPath}">Link Path : ${linkPath}</p>
            <p data-sly-test.external="${linkList.external}">External : ${external}</p>
            <p data-sly-test.target="${linkList.target}">Target : ${target}</p>
        </li>
    </ul>

    <h2>data-sly-repeat example</h2>
    <ul data-sly-repeat.linkRepeat="${model.links}">
        <li>
            <p data-sly-test.labelR="${linkRepeat.label}">Label : ${labelR}</p>
            <p data-sly-test.linkPathR="${linkRepeat.linkPath}">Link Path : ${linkPathR}</p>
            <p data-sly-test.externalR="${linkRepeat.external}">External : ${externalR}</p>
            <p data-sly-test.targetR="${linkRepeat.target}">Target : ${targetR}</p>
        </li>
    </ul>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent, classAppend='cmp-title'}"></sly>